<h1>Pandas</h1>

In [1]:
#installing pandas libraries
!pip install pandas-datareader
!pip install --upgrade html5lib==1.0b8

#There is a bug in the latest version of html5lib so install an earlier version
#Restart kernel after installing html5lib

Requirement already satisfied: pandas-datareader in /Users/spydermac/anaconda/lib/python3.6/site-packages
Requirement already satisfied: requests-file in /Users/spydermac/anaconda/lib/python3.6/site-packages (from pandas-datareader)
Requirement already satisfied: requests>=2.3.0 in /Users/spydermac/anaconda/lib/python3.6/site-packages (from pandas-datareader)
Requirement already satisfied: requests-ftp in /Users/spydermac/anaconda/lib/python3.6/site-packages (from pandas-datareader)
Requirement already satisfied: pandas>=0.17.0 in /Users/spydermac/anaconda/lib/python3.6/site-packages (from pandas-datareader)
Requirement already satisfied: six in /Users/spydermac/anaconda/lib/python3.6/site-packages (from requests-file->pandas-datareader)
Requirement already satisfied: python-dateutil>=2 in /Users/spydermac/anaconda/lib/python3.6/site-packages (from pandas>=0.17.0->pandas-datareader)
Requirement already satisfied: pytz>=2011k in /Users/spydermac/anaconda/lib/python3.6/site-packages (from pandas>=0.17.0->pandas-datareader)
Requirement already satisfied: numpy>=1.7.0 in /Users/spydermac/anaconda/lib/python3.6/site-packages (from pandas>=0.17.0->pandas-datareader)
Requirement already up-to-date: html5lib==1.0b8 in /Users/spydermac/anaconda/lib/python3.6/site-packages
Requirement already up-to-date: six in /Users/spydermac/anaconda/lib/python3.6/site-packages (from html5lib==1.0b8)

<h2>Imports</h2>

In [2]:
import pandas as pd #pandas library
from pandas_datareader import data #data readers (google, html, etc.)
#The following line ensures that graphs are rendered in the notebook
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt #Plotting library
import datetime as dt #datetime for timeseries support

<h2>The structure of a dataframe</h2>

In [3]:
pd.DataFrame([[1,2,3],[1,2,3]],columns=['A','B','C'])

   A  B  C
0  1  2  3
1  1  2  3

<h3>Accessing columns and rows</h3>

In [4]:
df = pd.DataFrame([['r1','00','01','02'],['r2','10','11','12'],['r3','20','21','22']],columns=['row_label','A','B','C'])
print(id(df))
df.set_index('row_label',inplace=True)
print(id(df))
df

4515409872
4515409872

            A   B   C
row_label
r1         00  01  02
r2         10  11  12
r3         20  21  22

<h3>Getting column data</h3>

In [5]:
df['B']

row_label
r1    01
r2    11
r3    21
Name: B, dtype: object

<h3>Getting row data</h3>

In [6]:
df.loc['r1']

A    00
B    01
C    02
Name: r1, dtype: object

<h3>Getting a row by row number</h3>

In [7]:
df.iloc[0]

A    00
B    01
C    02
Name: r1, dtype: object

<h3>Getting multiple columns<h3>

In [8]:
df[['B','A']] #Note that the column identifiers are in a list

            B   A
row_label
r1         01  00
r2         11  10
r3         21  20

<h3>Getting a specific cell</h3>

In [9]:
df.loc['r2','B']

'11'

In [10]:
df.loc['r2']['A']

'10'

<h3>Slicing</h3>

In [11]:
df.loc['r1':'r2']

            A   B   C
row_label
r1         00  01  02
r2         10  11  12

In [12]:
df.loc['r1':'r2','B':'C']

            B   C
row_label
r1         01  02
r2         11  12

<h2>Pandas datareader</h2>
<li>Access data from html tables on any web page</li>
<li>Get data from google finance</li>
<li>Get data from the federal reserve</li>

<h3>HTML Tables</h3>
<li>Pandas datareader can read a table in an html page into a dataframe
<li>the read_html function returns a list of all dataframes with one dataframe for each html table on the page

<h4>Example: Read the tables on the google finance page</h4>

In [13]:
df_list = pd.read_html('http://www.bloomberg.com/markets/currencies/major')
print(len(df_list))

1

<h4>The page contains only one table so the read_html function returns a list of one element</h4>

In [14]:
df = df_list[0]
print(df)

   Currency      Value  Change Net Change Time (EDT)  2 Day
0   EUR-USD     1.1758 -0.0057     -0.48%    7:31 AM    NaN
1   USD-JPY   109.4100  0.4300     +0.39%    7:31 AM    NaN
2   GBP-USD     1.2820 -0.0080     -0.62%    7:31 AM    NaN
3   AUD-USD     0.7900 -0.0039     -0.49%    7:31 AM    NaN
4   USD-CAD     1.2585  0.0027     +0.22%    7:31 AM    NaN
5   USD-CHF     0.9663  0.0044     +0.46%    7:31 AM    NaN
6   EUR-JPY   128.6400 -0.1100     -0.09%    7:31 AM    NaN
7   EUR-GBP     0.9170  0.0010     +0.11%    7:31 AM    NaN
8   USD-HKD     7.8267  0.0029     +0.04%    7:31 AM    NaN
9   EUR-CHF     1.1360 -0.0003     -0.03%    7:31 AM    NaN
10  USD-KRW  1133.7800 -5.1700     -0.45%    2:29 AM    NaN

<h4>Note that the read_html function has automatically detected the header columns</h4>
<h4>If an index is necessary, we need to explicitly specify it</h4>

In [15]:
df.set_index('Currency',inplace=True)
print(df)

              Value  Change Net Change Time (EDT)  2 Day
Currency
EUR-USD      1.1758 -0.0057     -0.48%    7:31 AM    NaN
USD-JPY    109.4100  0.4300     +0.39%    7:31 AM    NaN
GBP-USD      1.2820 -0.0080     -0.62%    7:31 AM    NaN
AUD-USD      0.7900 -0.0039     -0.49%    7:31 AM    NaN
USD-CAD      1.2585  0.0027     +0.22%    7:31 AM    NaN
USD-CHF      0.9663  0.0044     +0.46%    7:31 AM    NaN
EUR-JPY    128.6400 -0.1100     -0.09%    7:31 AM    NaN
EUR-GBP      0.9170  0.0010     +0.11%    7:31 AM    NaN
USD-HKD      7.8267  0.0029     +0.04%    7:31 AM    NaN
EUR-CHF      1.1360 -0.0003     -0.03%    7:31 AM    NaN
USD-KRW   1133.7800 -5.1700     -0.45%    2:29 AM    NaN

<h4>Now we can use .loc to extract specific currency rates</h4>

In [16]:
df.loc['EUR-CHF','Value']

1.1359999999999999

<h3>Working with views and copies</h3>

<h4>Chained indexing creates a copy and changes to the copy won't be reflected in the original dataframe</h4>

In [17]:
eur_usd = df.loc['EUR-USD']['Change'] #This is chained indexing
df.loc['EUR-USD']['Change'] = 1.0 #Here we are changing a value in a copy of the dataframe
print(eur_usd)
print(df.loc['EUR-USD']['Change']) #Neither eur_usd, nor the dataframe are changed

-0.0057
-0.0057

/Users/spydermac/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
eur_usd = df.loc['EUR-USD','Change'] #eur_usd points to the value inside the dataframe
df.loc['EUR-USD','Change'] = 1.0 #Change the value in the view 
print(eur_usd) #eur_usd is changed (because it points to the view)
print(df.loc['EUR-USD']['Change']) #The dataframe has been correctly updated

-0.0057
1.0

<h2>Getting historical stock prices from Google financs</h2>
Usage: DataReader(ticker,source,startdate,enddate)<br>
Unfortunately, the Yahoo finance datareader has stopped working because of a change to Yahoo's website

In [19]:
from pandas_datareader import data
import datetime as dt
start=dt.datetime(2017, 1, 1)
end=dt.datetime.today()


print(start,end)


df = data.DataReader('IBM', 'google', start, end)

2017-01-01 00:00:00 2017-08-22 12:33:43.441735

In [20]:
df

              Open    High     Low   Close    Volume
Date
2017-01-03  167.00  167.87  166.01  167.19   2934299
2017-01-04  167.77  169.87  167.36  169.26   3381432
2017-01-05  169.25  169.39  167.26  168.70   2682301
2017-01-06  168.69  169.92  167.52  169.53   2945536
2017-01-09  169.47  169.80  167.62  167.65   3189891
2017-01-10  167.98  168.09  165.34  165.52   4118694
2017-01-11  166.05  167.76  165.60  167.75   3599464
2017-01-12  167.77  168.01  165.56  167.95   2927973
2017-01-13  167.97  168.48  166.88  167.34   2875433
2017-01-17  166.69  168.18  166.12  167.89   3315655
2017-01-18  167.45  168.59  166.69  166.80   4007779
2017-01-19  166.96  167.45  165.80  166.81   6963386
2017-01-20  167.81  170.64  166.00  170.55  12690029
2017-01-23  170.08  171.25  170.01  171.03   5478224
2017-01-24  171.36  176.00  171.16  175.90   6952369
2017-01-25  176.26  179.25  176.13  178.29   5922462
2017-01-26  178.06  178.88  177.51  178.66   3063924
2017-01-27  178.47  179.20  177.30  177.30   3482311
2017-01-30  176.98  177.07  174.58  175.80   4094755
2017-01-31  175.05  175.58  173.61  174.52   4138962
2017-02-01  175.00  175.70  172.89  174.29   2795745
2017-02-02  174.23  174.97  173.55  174.58   2620526
2017-02-03  175.00  176.34  174.89  175.82   3309288
2017-02-06  175.31  175.98  174.38  175.86   2650785
2017-02-07  176.00  178.62  175.90  178.46   3873455
2017-02-08  177.50  177.50  175.88  176.17   2913126
2017-02-09  176.17  177.80  175.91  177.21   3090710
2017-02-10  177.37  178.87  176.76  178.68   2930710
2017-02-13  179.24  179.90  178.84  179.36   3093372
2017-02-14  178.57  180.13  178.35  180.13   2776528
...            ...     ...     ...     ...       ...
2017-07-11  153.26  153.65  152.05  153.19   3447509
2017-07-12  153.48  154.24  153.05  153.70   3097850
2017-07-13  153.70  154.19  153.19  153.63   2476112
2017-07-14  154.01  154.62  153.40  154.24   3256372
2017-07-17  153.59  153.88  152.24  153.01   4762592
2017-07-18  152.36  154.29  152.00  154.00   7566818
2017-07-19  150.02  150.25  146.71  147.53  14293610
2017-07-20  147.53  148.83  147.03  147.66   7212233
2017-07-21  147.59  147.87  146.51  147.08   6509459
2017-07-24  147.00  147.04  145.80  145.99   3877593
2017-07-25  146.57  147.49  146.03  146.19   4208895
2017-07-26  146.27  146.46  144.47  145.36   3932361
2017-07-27  145.00  145.40  143.64  145.07   6430841
2017-07-28  144.81  145.04  143.84  144.29   3054834
2017-07-31     NaN  144.93     NaN  144.67   4355718
2017-08-01  145.00  145.67  144.72  145.30   3219477
2017-08-02  145.12  145.29  144.22  144.45   3540949
2017-08-03  144.43  145.34  144.43  144.94   3035393
2017-08-04  145.00  145.39  144.40  145.16   2549400
2017-08-07  145.00  145.09  142.75  143.47   4618284
2017-08-08  142.00  142.76  142.00  142.11   3298718
2017-08-09  141.75  142.03  141.19  141.77   2925770
2017-08-10  141.64  142.42  141.23  141.84   4525378
2017-08-11  142.45  142.59  141.52  141.84   3004360
2017-08-14  142.00  142.76  141.94  142.32   2248607
2017-08-15  142.55  143.34  140.58  142.07   4681545
2017-08-16  141.79  142.91  141.61  142.50   3287821
2017-08-17  142.52  142.89  140.70  140.70   4422087
2017-08-18  140.87  141.15  139.58  139.70   4152714
2017-08-21  139.59  140.42  139.13  140.33   3190691

[160 rows x 5 columns]

<h2>Datareader documentation</h2>
http://pandas-datareader.readthedocs.io/en/latest/</h2>

<h3>Working with a timeseries data frame</h3>
<li>The data is organized by time with the index serving as the timeline

<h4>Creating new columns</h4>
<li>Add a column to a dataframe
<li>Base the elements of the column on some combination of data in the existing columns
<h4>Example: Number of Days that the stock closed higher than it opened
<li>We'll create a new column with the header "UP"
<li>And use np.where to decide what to put in the column

In [ ]:
df['UP']=np.where(df['Close']>df['Open'],1,0)
df

<h3>Get summary statistics</h3>
<li>The "describe" function returns a dataframe containing summary stats for all numerical columns
<li>Columns containing non-numerical data are ignored

In [ ]:
df.describe()

<h4>Calculate the percentage of days that the stock has closed higher than its open</h4>

In [ ]:
df['UP'].sum()/df['UP'].count()

<h4>Calculate percent changes</h4>
<li>The function pct_change computes a percent change between successive rows (times in  timeseries data)
<li>Defaults to a single time delta
<li>With an argument, the time delta can be changed

In [ ]:
df['Close'].pct_change() #One timeperiod percent change

In [ ]:
n=13
df['Close'].pct_change(n) #n timeperiods percent change

<h3>NaN support</h3>
Pandas functions can ignore NaNs

In [ ]:
n=13
df['Close'].pct_change(n).mean()

<h3>Rolling windows</h3>
<li>"rolling" function extracts rolling windows
<li>For example, the 21 period rolling window of the 13 period percent change

In [ ]:
df['Close'].pct_change(n).rolling(21)

<h4>Calculate something on the rolling windows</h4>

<h4>Example: mean (the 21 day moving average of the 13 day percent change)

In [ ]:
n=13
df['Close'].pct_change(n).rolling(21).mean()

<h4>Calculate several moving averages and graph them</h4>

In [ ]:
ma_8 = df['Close'].pct_change(n).rolling(window=8).mean()
ma_13= df['Close'].pct_change(n).rolling(window=13).mean()
ma_21= df['Close'].pct_change(n).rolling(window=21).mean()
ma_34= df['Close'].pct_change(n).rolling(window=34).mean()
ma_55= df['Close'].pct_change(n).rolling(window=55).mean()

In [ ]:
ma_8.plot()
ma_34.plot()

<h2>Linear regression with pandas</h2>
<h4>Example: TAN is the ticker for a solar ETF. FSLR, RGSE, and SCTY are tickers of companies that build or lease solar panels. Each has a different business model. We'll use pandas to study the risk reward tradeoff between the 4 investments and also see how correlated they are</h4>

In [ ]:
import datetime
import pandas_datareader as data
start = datetime.datetime(2015,7,1)
end = datetime.datetime(2016,6,1)
solar_df = data.DataReader(['FSLR', 'TAN','RGSE','SCTY'],'google', start=start,end=end)['Close']

In [ ]:
solar_df

<h4>Let's calculate returns (the 1 day percent change)</h4>

In [ ]:
rets = solar_df.pct_change()
print(rets)

<h4>Let's visualize the relationship between each stock and the ETF</h4>

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(rets.FSLR,rets.TAN)

In [ ]:
plt.scatter(rets.RGSE,rets.TAN)

In [ ]:
plt.scatter(rets.SCTY,rets.TAN)

<h4>The correlation matrix</h4>

In [ ]:
solar_corr = rets.corr()
print(solar_corr)

<h3>Basic risk analysis</h3>
<h4>We'll plot the mean and std or returns for each ticker to get a sense of the risk return profile</h4>

In [ ]:
plt.scatter(rets.mean(), rets.std())
plt.xlabel('Expected returns')
plt.ylabel('Standard deviations')
for label, x, y in zip(rets.columns, rets.mean(), rets.std()):
    plt.annotate(
        label, 
        xy = (x, y), xytext = (20, -20),
        textcoords = 'offset points', ha = 'right', va = 'bottom',
        bbox = dict(boxstyle = 'round,pad=0.5', fc = 'yellow', alpha = 0.5),
        arrowprops = dict(arrowstyle = '->', connectionstyle = 'arc3,rad=0'))
plt.show()

<h2>Regressions</h2>
http://statsmodels.sourceforge.net/

<h3>Steps for regression</h3>
<li>Construct y (dependent variable series)
<li>Construct matrix (dataframe) of X (independent variable series)
<li>Add intercept
<li>Model the regression
<li>Get the results
<h3>The statsmodels library contains various regression packages. We'll use the OLS (Ordinary Least Squares) model

In [ ]:
import numpy as np
import statsmodels.api as sm
X=solar_df[['FSLR','RGSE','SCTY']]
X = sm.add_constant(X)
y=solar_df['TAN']
model = sm.OLS(y,X,missing='drop')
result = model.fit()
print(result.summary())

<h4>Finally plot the fitted line with the actual y values

In [ ]:
fig, ax = plt.subplots(figsize=(8,6))
ax.plot(y)
ax.plot(result.fittedvalues)